.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/competition/com1.jpg
src/assets/competition/com2.jpg
src/assets/competition/com3.jpg



.cursor
.shared
接口
.gitignore